/*  GRID OF FIVE   ============================================================================= */

	
.span_5_of_5 {
	width: 100%;
}

.span_4_of_5 {
  	width: 70.68%; 
}

.span_3_of_5 {
  	width: 50.36%; 
}

.span_2_of_5 {
  	width: 30.04%;
}

.span_1_of_5 {
  	width: 12.72%;
	
}


/*  GO FULL WIDTH AT LESS THAN 480 PIXELS */

@media only screen and (max-width: 480px) {
	.span_5_of_5 {
		width: 100%; 
	}
	.span_4_of_5 {
		width: 100%; 
	}
	.span_3_of_5 {
		width: 100%; 
	}
	.span_2_of_5 {
		width: 100%; 
	}
	.span_1_of_5 {
		display: none;
	}
}


@media only screen and (max-width: 768px) {

		.span_1_of_5 {
		
			width: 10.72%;
	}


}